body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    /* margin-top: var(--size-scale-2);
    margin-bottom: var(--size-scale-2); */
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}


/* p {
    margin-top: var(--size-scale-1);
    margin-bottom: var(--size-scale-1);
} */